* {
  
}

body {
  background: #77b8da;
}

header {
  background: green;
}

.head1 {
  position: fixed;
  padding: 0px;
  margin: 10px;
  min-height: 20px;
  background: orange;
}

article {
  padding: 10px;
  background: #ffffff;
  opacity; 0.5;
  border-radius: 10px;
}

section {
  padding: 10px;
} 

h1 {
  color: #333;
}

h3 {
  color: #e4007f;
  background: #219ddd;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hober {
  color: red;
}

a:active  {
  color: yellow;
}
