* {
  
}

body {
  display: block;
  margin: 0px;
  background: #77b8da;
}

header {
  background: green;
}

#head1 {
  width: 100%;
  background: orange;
}

#head2 {
  display: flex;
}

article {
  padding: 10px;
  background: #ffffff;
  opacity; 0.5;
  border-radius: 10px;
}

section {
  padding: 10px;
} 

div {
  display: flex;
}

h1 {
  column-span: all;
  color: #333;
}

h2 {
  column-span: all;
}

h3 {
  column-span: all;
  color: #e4007f;
  background: #219ddd;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hober {
  color: red;
}

a:active  {
  color: yellow;
}
